.progress-bar-ctm {
  .progress {
    height: 16px;
  }
}

.bold {
  display: inline;
  font-weight: bolder;
}
.blue {
  color: rgb(0, 0, 223);
}
.yellow {
  color: rgb(228, 213, 0);
}
.red {
  color: rgb(204, 0, 0);
}
